/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,400;0,500;1,600&family=Roboto:ital,wght@0,500;1,700&display=swap");
/* GOOGLE FONT */

.g-font {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Iso', cursive;
}

/* HEIGHT AND WIDTH */
.h-45{
    height: 39%;
}
/* HEIGHT AND WIDTH */

/* POSITION */
.translate-end{
    translate: 0% 16%;
}

.translate-end-2{
    translate: 0% 28%;
}
/* POSITION */

/* COLOR */
.normal-dark{
    background-color: #0D0D0D;
}
.darkest{
    background-color: #000000;
}
.white{
    color: whitesmoke;
}
/* COLOR */

/* GAP */
.px-6{
    padding-left: 5rem;
}

.ms-8{
    margin-left: 11rem;
}
.ms-7{
    margin-left: 10rem;
}
/* GAP */